.contact {
  background: $color-white;
  text-align: center;
  font-size: 1.8rem;
  position: relative;

  h2 + p {
    margin: 2rem 0;
  }

  &__cta {
    max-width: 49rem;
    margin: 0 auto 2rem;
    border-top: 1px solid #ddd;
    padding-top: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      text-decoration: none;
      border-bottom: 1px solid transparent;
      color: #5c7ca8;
      transition: 200ms;
    }
    a:hover {
      border-color: #5c7ca8;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;

    input {
      border: 1px solid #5c7ca8;
      border-radius: 3px;
      padding-left: 8px;
      margin-bottom: 2rem;
      height: 4rem;
      font-size: 1.4rem;
    }

    textarea {
      border: 1px solid #5c7ca8;
      border-radius: 3px;
      padding: 8px;
      margin-bottom: 2rem;
      font-size: 14px;
      font-family: inherit;
      height: 200px;
      resize: vertical;
    }

    input:focus,
    textarea:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid green;
    }

    input:focus:invalid,
    textarea:focus:invalid {
      border-bottom: 3px solid red;
    }

    input::placeholder,
    input::-webkit-input-placeholder,
    textarea::placeholder {
      color: #5c7ca8;
    }

    button {
      height: 4rem;
      border-radius: 3px;
      background-color: #5c7ca8;
      border: 2px solid #5c7ca8;
      color: $color-white;
      font-size: 1.8rem;
      transition: 200ms;

      &:hover {
        cursor: pointer;
        background-color: #4576ba;
        border: 2px solid #4576ba;
        transform: scale(1.025);
      }

      &:active {
        transform: scale(1.01);
        outline: none;
      }
    }

    label {
      align-self: flex-start;
      font-size: 1.4rem;
      margin-bottom: 4px;
      font-weight: 600;
    }
  }
}
